{% load static %}
<div class="bg-dark text-white vh-100 py-4">
    <div class="ms-3 mt-4">
      <h5>{{ user.username }}</h5>
      
    </div>
    <div class="text-muted small ms-3 mb-5">
        {% comment %} <span class="badge bg-secondary">Ruolo in campo: {{ user.player_role|capfirst }}</span><br> {% endcomment %}
        {% if user.is_authenticated %}
            <span class="badge bg-secondary">{{ user.role|capfirst }}</span>
            <span class="badge bg-secondary">Ruolo in campo: {{ user.player_role|capfirst }}</span><br>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger mt-2">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-light mt-2">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
        {% endif %}
    </div>
    {% if user.role == 'organizer' %}

        <a href="{% url 'structure_dashboard' %}" class="d-block px-3 py-2">
            <i class="bi bi-building"></i> Strutture
        </a>
        <a href="{% url 'group_dashboard' %}" class="d-block px-3 py-2 d-flex justify-content-between align-items-center">
            <span><i class="bi bi-people-fill"></i> Gestione gruppi</span>
            {% if group_count > 0 %}
            <span class="badge bg-secondary">{{ group_count }}</span>
            {% endif %}
        </a>
        <a href="{% url 'match_list' %}" class="d-block px-3 py-2"><i class="bi bi-calendar-event"></i>Gestione Partite</a>
        <a href="{% url 'group_stats' %}" class="d-block px-3 py-2"><i class="bi bi-bar-chart-line"></i>Statistiche Generali</a>
        <a href="{% url 'manage_requests' %}" class="d-block px-3 py-2 d-flex justify-content-between align-items-center">
            <span><i class="bi bi-inbox"></i> Richieste</span>
            {% if pending_requests_count > 0 %}
            <span class="badge bg-danger">{{ pending_requests_count }}</span>
            {% endif %}
        </a>
        

        <a href="{% url 'notification_list' %}" class="d-block px-3 py-2 d-flex justify-content-between align-items-center">
        <span><i class="bi bi-bell-fill"></i> Notifiche delle partite</span>
        {% if unread_notifications > 0 %}
            <span class="badge bg-warning text-dark">{{ unread_notifications }}</span>
        {% endif %}
        </a>
        
        
    {% endif %}

    {% if user.role == 'player' %}
      <a href="{% url 'become_organizer' %}" class="d-block px-3 py-2"><i class="bi bi-person-gear"></i> Diventa organizzatore</a>
      <a href="{% url 'available_groups' %}" class="d-block px-3 py-2"><i class="bi bi-search"></i> Gruppi disponibili</a>
      <a href="{% url 'match_list' %}" class="d-block px-3 py-2"><i class="bi bi-calendar-check"></i> Le mie partite</a>
      <a href="{% url 'group_stats' %}" class="d-block px-3 py-2"><i class="bi bi-bar-chart-line"></i>Statistiche Generali</a>
      <a href="{% url 'notification_list' %}" class="d-block px-3 py-2 d-flex justify-content-between align-items-center">
        <span><i class="bi bi-bell-fill"></i> Notifiche delle partite</span>
        {% if unread_notifications > 0 %}
            <span class="badge bg-warning text-dark">{{ unread_notifications }}</span>
        {% endif %}
        </a>
    {% endif %} 
    {% if user.is_authenticated %}
        <a href="{% url 'contatto' %}" class="nav-link text-white px-3 py-2">
            <i class="bi bi-envelope-fill me-2"></i> Contatta lo sviluppatore
        </a>
    {% endif %}

  </div>
  